
body.battles {
    .title-bar {
        background: url("/images/fire-bg.gif");
        background-size: cover;
        background-position-y: 25px;
    }
    .hero-bg {
        background-color : black;
    }
    .hero-content {
        background: url("/images/localEvent.gif");
        padding: 1rem 0;
        box-shadow:inset 0 0 0 2000px rgba(8, 8, 8, 0.4);
        @include breakpoint(medium) {
            padding: 3rem 0;
            background-position: 50%;
            background-size: cover;
        }
    }
    .battles, .eventName {
        font-family: 'Sedgwick Ave Display';
    }
    .eventName{
        @include breakpoint(small only) {
            font-size: 3rem;
        }
    }
    hr {
        border-bottom-color: #F58026;
        @include breakpoint(large) {
            max-width: 65%;
        }
    }

    .headline {
        line-height : 1.50;
        font-size   : .9rem;
        @include breakpoint(medium) {
        font-size   : 1.2rem;
        }
        @extend .HelveticaNeueLTStd-75-Bd;
    }

    .required-text {
        background-color : rgba(0, 138, 200, .2);
        text-align       : center;
        p {
            font-size   : .9rem;
            line-height : 1.2rem;
        }

    }

    .content {
        // min-height : 700px;
        @include breakpoint(medium) {
            // min-height : 1200px;
            .required-text {
                margin-top : 600px;
            }
        }
    }

    .videos {
        background : linear-gradient(get-color(red), lighten(get-color(red), 90%));
        box-shadow:inset 0 0 0 2000px rgba(8, 8, 8, 0.7);

        .row {
            .videoWrapper {
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 0;
             
                iframe {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
            }

        }
    }
}