$hero-view-size-mobile : 60vh;
$hero-view-size : 75vh;

body.contact {
    .title-bar {
        background: url("/images/fire-bg.gif");
        background-size: cover;
        @include breakpoint(small) {
            background-position-y: 40px;
        }
        @include breakpoint(large) {
            background-position-y: -10px;
        }
    }
    .hero-content {
        background: url("/images/contact-hero.png");
        @include breakpoint(small) {
            background-size: cover;
            background-position-x: -280px;
            box-shadow:inset 0 0 0 2000px rgba(8, 8, 8, 0.4);
        }
        @include breakpoint(medium) {
            padding: 8rem 0;
        }
        @include breakpoint(large) {
            background-position: 50%;
        }
    }
    .hero-bg {
        h1 {
            font-family: 'Sedgwick Ave Display';
            color: #E13D41;
        }
        @include breakpoint(small only) {
            h1 {
                font-size  : 3rem;
                margin-top : 1.5rem;
            }
            hr {
                border-bottom-color: #F58026;
                margin : 1rem 0 1.7rem 0;
            }
        }

    }
    .input-group-button {
        margin : 0 0 0 10px;
        .button {
            min-width     : 100px;
            border-radius : 5px;
        }
    }
    .headline {
        font-size : 1.4rem;
        @extend .HelveticaNeueLTStd-75-Bd;
        @include breakpoint(small only) {
            font-size : 1.35rem;
        }
        @include breakpoint(medium) {
            line-height : 1.8;
        }

    }
    .localEvent {
        @include breakpoint(small only) {
            background : linear-gradient(get-color(red), lighten(get-color(red), 90%));
            box-shadow:inset 0 0 0 2000px rgba(8, 8, 8, 0.7);
        }
        @include breakpoint(medium) {
            background: url("/images/fire-bg.gif");
            background-size: cover;
            background-position-y: 128px;
            background-position-x: -200px;
            padding : 1rem 0;
        }
        @include breakpoint(large) {
            background-position-x: -250px;
            padding : 0;
            h4 {
                line-height : 1.5;
            }
            img {
                max-width      : 105%;
                margin-top     : -40px;
                padding-bottom : 40px;
            }
        }

    }

    .formBG {
        background : linear-gradient(get-color(red), lighten(get-color(red), 90%));
        box-shadow:inset 0 0 0 2000px rgba(8, 8, 8, 0.7);
        padding-top      : 0rem;

        @include breakpoint(medium) {
            padding-top : 2rem;
        }
    }
    .generalTitle {
        text-align  : center;
        padding-top : 3rem;
        .lead {
            @extend .HelveticaNeueLTStd-75-Bd;
            padding-bottom : 2rem;
            @include breakpoint(medium) {
                font-size      : 1.9rem;
                padding-bottom : 4rem;
            }
            color          : $white;
        }
    }
    .formHeader {
        padding-top : 3rem;
    }
    .switch-inactive, .switch-active {
        color : $black;
    }
    .switch-paddle {
        background : $white;
    }
    .switch-paddle::after {
        background : #b7b7b7;
    }

    .form-complete {
        .callout {
            padding : 3rem 2rem;
        }
        h4 {
            margin-bottom : 2rem;
            svg {
                @include breakpoint(small only) {
                    display:none;
                }
            }
        }

    }

}