body.home {
    .title-bar {
        background: url("/images/fire-bg.gif");
        background-size: cover;
        @include breakpoint(small) {
            background-position-y: 40px;
        }
        @include breakpoint(large) {
            background-position-y: -10px;
        }
    }
    .h3 {
        // font-family: 'Sedgwick Ave Display';
        @include breakpoint(medium) {
            font-family: 'Sedgwick Ave Display';
        }
        @include breakpoint(large) {
            font-size: 6.125rem;
            transform: translateY(-30px);
        }
    }
    .hero-content {
        // background: url("/images/fire-bg.gif");
        background-size: cover;
        @include breakpoint(small) { 
            background-size: cover;
            background-position: 50%;
            background-position-y: -20px;
            background-repeat: repeat-x;
            height: 60vh;
        }
        @include breakpoint(425px) { 
            height: 65vh;
            // background-position: 117vw 79vh;
        }
        // @include breakpoint(550px) { 
        //     background-position: 100vw 79vh;
        // }
        @include breakpoint(medium) {
            height: 121vh;
            // background-position: 50%;
            // background-position-y: -120px;
            // background-size: contain;
        }
        @include breakpoint(large) {
            height: 150vh;
            // background-position: 50%;
            // background-size: cover;
            // box-shadow:inset 0 0 0 2000px rgba(8, 8, 8, 0.2);
        }
        .iframe {
            margin: 0 auto;
        }
        .card {
            img {
                margin-bottom: 1.5rem;
                @include breakpoint(small) { 
                    width: 34%;
                }
            }
        }
        .heroInfo {
            @include breakpoint(small only) { 
                transform: translateY(20px);
            }
        }
    }
    .localEvent {
        background-color : rgb(0, 0, 0);
        @include breakpoint(medium) {
            background: url("/images/localEvent.gif");
            background-size: cover;
            box-shadow:inset 0 0 0 2000px rgba(8, 8, 8, 0.6);
        }
        color: $white;
        @include breakpoint(small only) {
            padding: 2.5rem 0;
        }
    }
    .social {
        @include breakpoint(small only) {
            padding: 0rem 0;
        }
        padding: 3rem 0;

    }
    .what-is {
        @include breakpoint(medium) {
            white-space: nowrap !important;
        }
    }
    .input-group-button {
        margin : 0 0 0 10px;
        input {
            font-size: 1.1rem;
        }
        .button {
            min-width     : 100px;
            border-radius : 5px;
        }
    }
    .card.container {
        position   : relative;
        min-height : 200px;
        min-width  : 100%;
        @include breakpoint(medium) {
            min-height : 400px;
            .parent {
                margin-bottom: 100px;
            }
            h3 {
                // margin-top: -75px;
                width: 99%;
                font-size: 2.5rem;
            }

        }
        @include breakpoint(large) {

            //min-height: 0;
            //min-width: 0;
        }
        img {
            position : absolute;
            z-index  : -1;
            width    : 100%;
            height   : auto;
            top      : 50%;
            @include breakpoint(small only) {
                object-position : 0 -90px;
            }
        }
    }

    section.cards:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        background-color : rgba(83, 83, 83, 0.2);
        height: 11rem;
        margin-top: -4rem;
        @include breakpoint(medium) {
            margin-top: -5rem;
            height: 13rem;
        }

    }

    .nav-cards {
        .column {
            &:nth-child(1) {
                .card {
                    // background : linear-gradient(get-color(red), darken(get-color(red), 20%));
                    @include breakpoint(small) {
                        background: url("/images/battles-mobile.png");
                        background-size: cover;
                        background-position-y: -104px;
                        
                    }
                    @include breakpoint(375px) {
                        background-position-y: -155px;
                    }
                    @include breakpoint(medium) {
                        background: url("/images/battles.gif");
                        background-size: cover;
                        background-position-y: 50px;
                    }
                    @include breakpoint(large) {
                        background-position-x: -150px;
                    }
                }
            }
            &:nth-child(2) {
                .card {
                    // background : linear-gradient(get-color(red), darken(get-color(red), 20%));
                    @include breakpoint(small) {
                        background: url("/images/store-mobile.png");
                        background-size: cover;
                    }
                    @include breakpoint(medium) {
                        background-position-y: 0px;
                    }
                    @include breakpoint(large) {
                        background: url("/images/store-large.png");
                        background-size: cover;
                        background-position-x: -45px;
                        background-position-y: 1px;
                    }
                    @include breakpoint(xlarge) {
                        background-size: cover;
                        background-position-x: -0px;
                    }
                }

            }
            &:nth-child(3) {
                .card {
                    // background : linear-gradient(get-color(red), darken(get-color(red), 20%));
                    @include breakpoint(small) {
                        background: url("/images/contact-mobile.png");
                        background-size: cover;
                        background-position-y: -175px;
                    }
                    @include breakpoint(425px) {
                        background-position-y: -155px;
                    }
                    @include breakpoint(medium) {
                        background: url("/images/push.gif");
                        background-size: cover;
                        background-position-y: 7vh;
                    }
                    @include breakpoint(large) {
                        background-position-y: 50px;
                    }
                }
            }
            .card {
                background-repeat: no-repeat !important; 
            }
        }

        .title {
            padding : 0 $global-padding;
        }

    }
    .headline {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0rem;
    }
    hr {
        max-width : 100%;
        &.bottom {
            border: 0;
        }
    }
}