
.footer {
    background: url("/images/fire-bg.gif");
    @include breakpoint(small) {
        background-position-y: 70px;
        background-position-x: -50px;
    }
    @include breakpoint(375px) {
        background-position-y: 70px;
        background-position-x: -30px;
    }
    @include breakpoint(425px) {
        background-position-y: 70px;
        background-position-x: 0px;
    }
    @include breakpoint(medium) {
        padding : 20px 0;
        background-size: cover;
    }
    @include breakpoint(medium) {
        padding : 20px 0;
        background-position-y: -10px;
    }
    border-top: 3px solid get-color(secondary);
    position         : relative;
    background-color : $black;
    width            : 100%;
    padding          : 20px 10px;
    min-width        : 320px;
    img {
        @include breakpoint(small) {
            max-width: 20%;
        }
        @include breakpoint(medium) {
            max-width: 10%;
        }
        @include breakpoint(large) {
            max-width: 100%;
        }
    }
    
    svg {
        font-size : 30px;
        @include breakpoint(medium) {
            font-size : 40px;
        }
    }
    ul {
        display            : flex;
        justify-content    : flex-end;
        margin-top         : 15px;
        margin-bottom      : 0;
        -webkit-transition : all 0.7s ease 0s;
        -moz-transition    : all 0.7s ease 0s;
        -o-transition      : all 0.7s ease 0s;
        transition         : all 0.7s ease 0s;
        li {
            flex-grow  : 2;
            text-align : center;
            //display    : inline-block;
            a {
                font-size: 50px;
            }
        }
    }

    .icons {
        margin-top: 1rem;
        @include breakpoint(large) {
            margin-top: 2.5rem;
            justify-content: left;
            a:first-child {
                padding: 0 1rem 0 0 ;
            }
        }
        a {
            font-size: 40px;
            padding: 0 1rem;
        }
    }

    .privacy-policy {
        float        : right;
        margin-right : 2 * $global-margin;
    }

    .associates {
        a {
            display:block;
            padding : 10px;
            text-align: center;
        }
    }
}
