
.info-window {
    max-width: 300px;
    padding-top: $global-padding;
    padding-bottom: $global-padding;
    color: black;
    @include breakpoint(medium) {
        max-width: 400px;
    }
    text-align:left;
    .title {
        font-size: 18px;
        color: get-color(primary);
        font-family: $base-font-family;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .details {
        margin-bottom: 1rem;

    }

}

#location-finder {
    .stacked-input-group-small {
        @include breakpoint(small only) {
            flex-wrap:wrap;
            > input,
            .input-group-button {
                flex : 0 0 100%;

                .button {
                    border-radius: $button-radius;
                    margin-top: .5rem;
                    height: 50px
                ;
                }
            }
        }

    }
}

.map-container {
    width: 90%;
    margin: 0 auto;

}

#map {
    width: 100%;
    height: 400px;
    @include breakpoint(medium) {
        height: 600px;
    }


}



