// VARIABLES
$margin:            1rem;
$margin-small:      0.5m;
$margin-large:      2rem;      
$padding:           1rem;
$padding-small:     0.5rem;
$padding-large:     2rem;

// HELPERS
.margin-small {margin: $margin-small!important;}
.margin-top-small {margin-top: $margin-small!important;}
.margin-right-small {margin-right: $margin-small!important;}
.margin-bottom-small {margin-bottom: $margin-small!important;}
.margin-left-small {margin-left: $margin-small!important;}
.margin {margin: $margin!important;}
.margin-top {margin-top: $margin!important;}
.margin-right {margin-right: $margin!important;}
.margin-bottom {margin-bottom: $margin!important;}
.margin-left {margin-left: $margin!important;}
.margin-large {margin: $margin-large!important;}
.margin-top-large {margin-top: $margin-large!important;}
.margin-right-large {margin-right: $margin-large!important;}
.margin-bottom-large {margin-bottom: $margin-large!important;}
.margin-left-large {margin-left: $margin-large!important;}


@include breakpoint(small only) {
    $margin:            0.125rem;
    $margin-small:      0.25rem;
    $margin-large:      0.5rem;      
    $padding:           0.125rem;
    $padding-small:     0.25rem;
    $padding-large:     0.5rem;  

    // HELPERS
    .margin-small {margin: $margin-small!important;}
    .margin-top-small {margin-top: $margin-small!important;}
    .margin-right-small {margin-right: $margin-small!important;}
    .margin-bottom-small {margin-bottom: $margin-small!important;}
    .margin-left-small {margin-left: $margin-small!important;}
    .margin {margin: $margin!important;}
    .margin-top {margin-top: $margin!important;}
    .margin-right {margin-right: $margin!important;}
    .margin-bottom {margin-bottom: $margin!important;}
    .margin-left {margin-left: $margin!important;}
    .margin-large {margin: $margin-large!important;}
    .margin-top-large {margin-top: $margin-large!important;}
    .margin-right-large {margin-right: $margin-large!important;}
    .margin-bottom-large {margin-bottom: $margin-large!important;}
    .margin-left-large {margin-left: $margin-large!important;}
}

.hide {display: none;}