// Variables
$white: #fff;
$black: #000;
$lightbluerule: #26b6e8;
$lightblue: #1fb7e8;
$blue: #0067b2;
$mediumblue: #004A90;
$darkblue: #123359;

$brand-blue: #0080B0;
$brand-lightblue: #00A4E4;
$brand-lightblue-background: #E4F6FD;
$brand-fade-lightblue: #ccffff;
$brand-orange: #F58026;
$brand-light-darkorange: #e36f35;
$brand-darkorange: #C7541B;

$gradient-top: $white;
$gradient-bottom: #8ad6f3;

$basic-font: sans-serif;

